
<div class="center jumbotron">
<h1>DEBUG APP</h1>
    <h2>
Sign up to accesses 5th Element embedded debug suite
    </h2>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

